
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:700');


@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');



body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

h1{
  font-weight: bold;


}

.cards{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position : relative ;
  margin : -70px, auto
}

.card{
  padding: 50px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius : 10px;
}

.card:hover {
  box-shadow: 1px 1px 30px 0 rgba(0,0,0,0.2);}


button {
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius : 10px;
  box-shadow: 1px 4px 30px 0 rgba(0,0,0,0.2);
}

.image{
  width: 200px;

}

.container{
  text-align: center;
  padding: 30px;
  marging : 80x;

}

.banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("background.jpg");
  height: 100vh;
  background-size: cover;
  color: White;
  display: flex;
  align-items: center;
  justify-content: center;


}
.banner-container{
  position : absolute ;
  top: 70px;
  font-size : 30px ;
}

.form{
   margin-top : 80px;
}
